    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="open()" ng-if="mySplitterSide.mode == 'collapse'">
            <i class="fa fa-bars fa-lg" style="color: #666"></i> &nbsp;
          </ons-toolbar-button>
        </div>
        <div class="center">
          Main Page
        </div>
      </ons-toolbar>
      
<div>

http://angularjs.jqueryrain.com/example/drag-drop/page/2/
https://jasonturim.wordpress.com/2013/09/01/angularjs-drag-and-drop/
http://logicbomb.github.io/ng-directives/drag-drop.html

    	<h1>Drag and Drop Directives</h1>
		<p>Simple directives to enable drag and drop in your application</p>

		<div ng-controller="ddController" style="margin-top:50px;">
			<div class="row">
				<div class="col-md-1 col-md-offset-1">
					<p>Click and drag a color onto the grid to the right</p>
					<div class="peg green" x-lvl-draggable="true" data-color="green">Green</div>
					<div class="peg red" x-lvl-draggable="true" data-color="red">Red</div>
					<div class="peg blue" x-lvl-draggable="true" data-color="blue">Blue</div>
					<div class="peg black" x-lvl-draggable="true" data-color="black">Black</div>
					<div class="peg grey" x-lvl-draggable="true" data-color="grey">Grey</div>
				</div>
	
				<div class="col-md-10">
					<div ng-repeat="r in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
						<span class="slot" ng-repeat="c in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" x-lvl-draggable='true' x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)"></span>
					</div>
				</div>
			</div>
		</div>

      
        <div style="padding:20px;">

        <ons-row >
          <ons-col style="border:solid 1px;" width="150px"><ons-icon icon="fa-twitter"></ons-icon></ons-col>
          <ons-col width="150px"><ons-icon icon="fa-twitter"></ons-icon></ons-col>
          <ons-col width="150px"><ons-icon icon="fa-twitter"></ons-icon></ons-col>
          <ons-col width="150px"><ons-icon icon="fa-twitter"></ons-icon></ons-col>
          <ons-col width="150px"><ons-icon icon="fa-twitter"></ons-icon></ons-col>
          <ons-col width="150px"><ons-icon icon="fa-twitter"></ons-icon></ons-col>
        </ons-row>
        <ons-row>
          <ons-col width="50px"><ons-icon icon="fa-twitter"></ons-icon></ons-col>
          <ons-col width="50px"><ons-icon icon="fa-home"></ons-icon></ons-col>
          <ons-col width="50px"><ons-icon icon="fa-twitter"></ons-icon></ons-col>
          <ons-col width="50px"><ons-icon icon="fa-twitter"></ons-icon></ons-col>
        </ons-row>
        <ons-row>
          <ons-col width="50px"><ons-icon icon="fa-twitter"></ons-icon></ons-col>
          <ons-col width="50px"><ons-icon icon="fa-twitter"></ons-icon></ons-col>
       </ons-row>
    </div>
    

      <div>



<object type="image/svg+xml" data="svg/snapsvg.svg" width="512" height="512"></object>

<!--
<object type="image/svg+xml" data="svg/bonsai.svg" width="512" height="512"></object> 
-->
</div>

</ons-page>
