<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/onsenui/js/onsenui.min.js"></script>
    <script src="lib/onsenui/js/angular-onsenui.min.js"></script>

    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
    <link rel="stylesheet" href="css/style.css">

<!--
<script src="svg/bonsai-0.4.1.min.js"></script>
<script src="svg/svg.min.js"></script>
<script src="svg/svg.draggable.min.js"></script>
-->

<!--

<script src="svg/snap.svg-min.js"></script>
<script>
// First, let's create our drawing surface out of an existing SVG element
// If you want to create a new surface just provide dimensions
// like 
var s = Snap(800, 600);
//var s = Snap("#svg");
// Let's create a big circle in the middle:
var bigCircle = s.circle(150, 150, 100);
// By default it is black, let's change its attributes
bigCircle.attr({
    fill: "#bada55",
    stroke: "#000",
    strokeWidth: 5
});

</script>

-->

    <script>
        ons.bootstrap()
          .controller('AppController', function($scope) {
            $scope.load = function(page) {
              $scope.mySplitterContent.load(page);
            }
            $scope.open = function() {
              $scope.mySplitterSide.open();
            }
            $scope.close = function() {
              $scope.mySplitterSide.close();
            }
          });
        ons.ready(function() {
            console.log("Onsen UI is ready!");



        });
    </script>
</head>
<body ng-controller="AppController as app">
  <ons-splitter>
    <ons-splitter-side var="mySplitterSide" side="left" width="120px" collapse="(max-width:640px)">
      <ons-page>
        <ons-list>
          <ons-list-item ng-click="close()" tappable>
            <i class="fa fa-bars fa-lg" style="color: #666"></i> &nbsp;
          </ons-list-item>
          <ons-list-item ng-click="load('home.html')" tappable>
            <i class="fa fa-home fa-lg" style="color: #666"></i> &nbsp; ホーム
          </ons-list-item>
          <ons-list-item ng-click="load('settings.html')" tappable>
            <i class="fa fa-gear fa-lg" style="color: #666"></i> &nbsp; 設定
          </ons-list-item>
          <ons-list-item ng-click="load('about.html')" tappable>
            <i class="fa fa-info-circle fa-lg" style="color: #666"></i> &nbsp; about
          </ons-list-item>
        </ons-list>
      </ons-page>
    </ons-splitter-side>
    <ons-splitter-content var="mySplitterContent" page="home.html"></ons-splitter-content>
  </ons-splitter>

  <ons-template id="home.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="open()" ng-if="mySplitterSide.mode == 'collapse'">
            <i class="fa fa-bars fa-lg" style="color: #666"></i> &nbsp;
          </ons-toolbar-button>
        </div>
        <div class="center">
          Main
        </div>
      </ons-toolbar>

test main.
      <div>

<object type="image/svg+xml" data="svg/snapsvg.svg" width="512" height="512"></object>

<!--
<object type="image/svg+xml" data="svg/bonsai.svg" width="512" height="512"></object> 
-->
</div>

</ons-page>
  </ons-template>

  <ons-template id="settings.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="open()">
            <i class="fa fa-bars fa-lg" style="color: #666"></i>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Settings
        </div>
      </ons-toolbar>
      
      test settings.
      <div>
<object type="image/svg+xml" data="svg/svgjs.svg" width="512" height="512"></object> 
</div>
    
    </ons-page>
  </ons-template>
</body>
</html>
